#header-background{
  background-image: url("../img/backgrounds/landing.jpg");
  height: 500px;
  width: 100%;
  background-size: cover;
  margin: 0 0 0 0;
}
#image-logo{
  display: block;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  top:33%;
  height: auto;
  width:  10%;
}
#header-background p{
color:white;
text-align: center;
font-size: 25px;
font-family: arial;
font-weight: 400;
position: relative;
top: 33%;
}
#header-background span{
    font-weight: 900;
}



/*  meals section
*/
.meals{
    height: 220px;
    margin-right: -45px;
    padding: 0px;
}
.special-times{
    height: inherit;
    margin-left: -30px;
}
.happy{
  background-color:#ffffff;
  height:50%;
  width: 100%;
  font-style: bold;
  color: black;
  text-align: center;
}
.happy h2{
    position: relative;
    top:33%;
    margin: 0px;
}
.party-time{
  background-color:#F15A29;
  height: 50%;
  width: 100%;
  text-align: center;
  color: #fff;
}
.party-time h2{
   position: relative;
   top:33%;
margin: 0px;

}

.breakfast{
  height:inherit;
  background-image: url("../img/foodtop/breakfast.jpg");
  background-size: cover;
  text-align: center;
  margin-left: -15px;
  color: white;
}
.breakfast h2{
    position: relative;
   top:33%;
}
.lunch{
 height:inherit;
  background-image: url("../img/foodtop/lunch.jpg");
  background-size: cover;
  text-align: center;
  color: white;
}
.lunch h2{
   position: relative;
   top:33%;
}
.dinner{
 height:inherit;
  background-image: url("../img/foodtop/dinner.jpg");
  background-size: cover;
  text-align: center;
  color: white;
}
.dinner h2{
    position: relative;
   top:33%;

}

/*
food and drinks
*/
.food-and-drinks{
    margin-top:  80px;
}
.food{
    height: 500px;

}
.food-img{
    height: inherit;
    padding: 20px;
}
#food_img1{
  background-image: url("../img/fastFood1.jpg");
    width: 100%;
    height: 50%;
    background-size: cover;

}
#food_img2{
background-image: url("../img/fastFood2.jpg");
    width: 100%;
     height: 50%;
    background-size: cover;
}
.food-txt{
    padding-left: 60px;
}
.food-txt p{
    margin-bottom: 40px;
}
.btn-view-gallery{
    text-decoration: none;
    color: red;
    border:  1px solid red;
    padding: 12px 36px;
    border-radius: 2px;
}
.drinks{
   height:  500px;
}

#backgroun-image{
  background-image: url("../img/backgrounds/foodsBg.jpg");
display:flex;
justify-content: center;
align-items: center;
}
#fastfood-row{
  margin :50px;
  background-color: white;
}
.menu-images{padding:50px;}
.menu-text p{text-align: center;
padding:auto;
padding-top: 20px;
}
